<%- include('../partials/head.ejs') %>
<body>
    <!-- <div id="particles-js"><h1>liijllj</h1></div>
    <script src="js/particles-js/particles.js"></script>
    -->

    <form method="post">
        <label for="fname">Name</label><br>
        <input type="text" id="name" name="name" placeholder="Type here"><br>
        <label for="fname">Amount</label><br>
        <input type="text" id="amount" name="amount" placeholder="Type here"><br>
        <label for="fname">Date</label><br>
        <input type="text" id="date" name="date" placeholder="Type here"><br>
        <label for="fname">For What?</label><br>
        <input type="text" id="what" name="what" placeholder="Type here"><br><br><br>
        <label for="fname">Enter Your Password</label><br>
        <input type="password" id="password" name="password" placeholder="Type here"><br>
        
        <input class="save_button" type="submit" value="Save">
    </form>

    <br><br><br>
    <a href="/remove">
        <button class="remove_button" type="button">Remove Data Page</button>
    </a>
    
    <table style="width:100%">
        <tr>
           <th>ID</th><th>Name</th><th>Amount</th><th>Date</th><th>For What?</th>
        </tr>

        <% debtor.forEach(function(u){ %>
            <tr>
                <td>
                    <%= u.id %>
                </td>
                <td>
                    <%= u.name %>
                </td>
                <td>
                    <%= u.amount %>
                </td>
                <td>
                    <%= u.date %>
                </td>
                <td>
                    <%= u.what %>
                </td>
            </tr>
        <% }); %>
        
     </table>
</body>
<%- include("../partials/footer.ejs") %>